
@{
    ViewData["Title"] = "pagamento";
}

<h3> formas de pagamento</h3>

<div class="alert alert-success" role="alert">
    Confira nossas formas de pagamento!
</div>

<div class="text-center">
    <img src="../imagens/pagamentos.png" class="rounded" alt="formas de pagamentos">
</div>

