
@{
    ViewData["Title"] = "Promocoes";
}

<h1>Promocoes</h1>

<div class="alert alert-primary" role="alert">
    De uma olhada em nossas promoçoes!
  </div>



<div class="container">


    <div class="card" style="width: 18rem;">
        <img src="../imagens/arraial.jpg" class="card-img-top" alt="Arraial">
        <div class="card-body">
            <h5 class="card-title">Arraial do cabo </h5>
            <p class="card-text"><b>Venha conferir o caribe brasileiro por $460,00</b></p>
            <a asp-action="pagamento" class="btn btn-primary">Formas de pagamento</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="../imagens/Disney.jpg" class="img-fluid rounded mx-auto d-block" alt="Disney">
        <div class="card-body">
            <h5 class="card-title">Disney</h5>
            <p class="card-text"><b>Venha conferir as nossas viagens para a disney por $960,00.</b></p>
            <a asp-action="pagamento" class="btn btn-primary">Formas de pagamento</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="../imagens/beto.jpg" class="card-img-top" alt="beto">
        <div class="card-body">
            <h5 class="card-title">Beto carreiro</h5>
            <p class="card-text"><b>Venha conferir o parque do Beto Carreiro $760,00.</b></p>
            <a asp-action="pagamento" class="btn btn-primary">Formas de pagamento</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="../imagens/jeriocoara.jpg" class="card-img-top" alt="Jeriocoara">
        <div class="card-body">
            <h5 class="card-title">Jeriocoara</h5>
            <p class="card-text"><b>Venha conferir nossa viagem para Jeriocoara $860,00.</b></p>
            <a asp-action="pagamento" class="btn btn-primary">Formas de pagamento</a>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
        <img src="../imagens/maranhão.jpg" class="card-img-top" alt="Maranhão">
        <div class="card-body">
            <h5 class="card-title">Maranhão</h5>
            <p class="card-text"><b>Venha conferir nossa viagem para o Maranhão $560,00.</b></p>
            <a asp-action="pagamento" class="btn btn-primary">Formas de pagamento</a>
        </div>
    </div>


    <div class="card" style="width: 18rem;">
        <img src="../imagens/rio.jpg" class="card-img-top" alt="Rio de janeiro ">
        <div class="card-body">
            <h5 class="card-title">Rio de janeiro</h5>
            <p class="card-text"><b>Venha conferir nossa viagem para o Rio de Janeiro $460,00.</b></p>
            <a asp-action="pagamento" class="btn btn-primary">Formas de pagamento</a>
        </div>
    </div>

</div>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>